.infoCommande{
    border-radius: 20px;
    padding: 30px;
    color: white;
    margin-top: 50px;
    font-size: 1.2em;
}

td{
    color: white;
}

a{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    color: white;
}

#backHome {
    border-radius: 15px;
    width: 40vw;
    padding: 5px;
    color: #212529;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 10px #212529;
    transition: width 500ms, color 300ms, background-color 300ms, box-shadow 500ms;
}



#backHome:hover{
    background-color:#212529;
    color: white;
    width: 45vw;
    box-shadow: 1px 1px 10px black ;
}
